// INPUT URL: https://adventofcode.com/2021/day/{{theDay}}/input

export const part1 = async () => {
    const inputString = await Deno.readTextFile('./input.txt')
}

export const part2 = async () => {
    const inputString = await Deno.readTextFile('./input.txt')
}